* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 1440px; 
    
}


.header {
    position: absolute;
    width: 1440px; 
}


.header-row {
    height: 90px;
    padding-top: 25px;
    padding-bottom: 34px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 120px;
}

.header-nav {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    line-height: 21px;
}


.header-nav ul {
    display: flex;
    list-style: none;
}

.header-nav li + li {
    margin-left: 42px;
}

.header-nav a {
    transition: color 0.5s;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    line-height: 21px;
    text-decoration: none;
}

.header-nav a:hover {
    color: #010504;
} 

.header-login {
    color:#FFFFFF;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;  
    padding: 10px 30px;  
    border: none;
    cursor: pointer;
    margin-right: 120px;
    font-weight: 600;
}


.main {
    display: flex;
    flex-direction: column;
}

.preview {
    background: url(./img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg) no-repeat;
    padding: 122px 0 250px 120px;
}

.preview-title {
    font-family: 'Aleo', serif;

    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    margin: 0;
}

.preview-text {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 46px 0;
    margin: 0;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.search-text {
    width: 560px;
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    padding: 32px 41px;
}

.search-btn {
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
    border-radius: 10px;
    padding: 13.5px 32.5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 24px;
    line-height: 33.5px;
    height: 59px;
    width: 228px;
    margin: 18px;
}


.steps-title {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    color: #F2785C;
    margin: 80px 0 40px 0;
    font-size: 40px;
    line-height: 53px;
    font-weight: 600;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
   
}

.wrapper-icon {
    margin: 0 auto;
    background: #F2785C;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;

}

.wrapper-text {
    font-family: 'Aleo', serif;
    color: #0D606F;
    font-weight: 600;
    padding-top: 30px;
    font-size: 20px;
    line-height: 24px;
}

p {
    padding: 0;
    margin: 0;
}


.destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinations-title {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    color: #F2785C;
    margin: 97px 0 46px 0;
    font-size: 40px;
    line-height: 53px;
    font-weight: 600;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 1440px;
}

.arch {
    width: 800px;
    height: 800px;
}

.slider-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 24px 0 0 0;
}

.slider-btn-radio {
    width: 20px;
    height: 20px;
    background: #F2785C;
    margin: 0 10px 0 0;
    border-radius: 10px;
}

.slider-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin: 40px 0 0 0;
    width: 228px;
    height: 59px;
    border: none;
}

.arrow {
    margin: 0 auto;
}

.slider-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 13px 31px 13px 0;

}

.slider-item {
    position: relative;
}

.slider-item-text {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    bottom: 0;
    position: absolute;
    padding: 0 0 40px 15px;
    color: #FFFFFF;
}

.stories {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stories-container {
    display: flex;
}

.stories-title {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    margin: 80px 0 40px 0;
    }

    .stories-img {
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    margin: 40px 40px 0 120px;
    }

    .stories-title-two {
    font-family: 'Aleo', serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    margin: 40px 125px 0 0;
    width: 760px;
    }

    .stories-text {
     font-family: 'Aleo', serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin: 24px 125px 0 0;
    width: 760px;
    }

    .stories-link {
        font-family: 'Aleo', serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #0D606F;
    }

    .stories-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: #0D606F;
        box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        margin: 40px 0;
        width: 228px;
        height: 59px;
        border: none;
    }

.story {
    background: url(./img/Rectangle\ 27.jpg) center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 60px;
}

.story-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}



.footer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1440px;
    margin: -60px auto;
}


.footer p {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin: auto;
}


.footer div {
    position: absolute;
    right: 123px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    right: 123px;
}

.footer-wrapper a {
    display: flex;
    margin:  0 25px;
    width: 34px;
    height: 34px;
}

.footer-wrapper ul {
    display: flex;
    list-style: none;
}


